{% extends 'base.html.twig' %}

{% block title %} - Login{% endblock %}

{% block body %}
    <div {{ vue_component('Login', { 'name': name }) }}>
        Login.vue has to be displayed here !
    </div>
{% endblock %}